@import "./helpers/variables";
@import "./helpers/mixins";
.daily-card {
  display: grid;
  grid-template-areas:
    "icon"
    "temp"
    "press"
    "date"
    "btn";
  margin: 0 auto;
  font-size: 1.25rem;
  &__icon {
    grid-area: icon;
  }
  &__temperature {
    grid-area: temp;
  }
  &__pressure {
    grid-area: press;
  }
  &__date {
    grid-area: date;
  }
  &__btn-box {
    grid-area: btn;
    display: flex;
    align-self: end;
  }
  &__btn {
    background-color: $off-color;
    border: none;
    font-size: 1.25rem;
    @include btn($off-color, black, rgb(238, 238, 238));
  }
}
