@import "./helpers/variables";
@import "./helpers/mixins";

.localWeather {
  grid-area: 1 / 1 / 3 / 3;
  display: grid;
  grid-template-areas:
    "icon name"
    "icon temp"
    ". temp";
  padding: 15px;
  color: $font-main;
  @include box($bg-main);
  .icon {
    grid-area: icon;
  }

  .name {
    grid-area: name;
    font-size: 2.25rem;
  }

  .temp {
    grid-area: temp;
    font-size: 2.25rem;
  }
}
