@import "./helpers/variables";
@import "./helpers/mixins";

.searchBar {
  grid-area: 3 / 2 / 5 / 10;
  margin: 0 auto;

  input {
    font-size: 2.25rem;
    padding: 5px 10px;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.65);
    border: none;
    @include box($off-color);
  }
  button {
    @include btn($bg-main, $font-main, black);
    @include box($bg-main);
    font-size: 2.25rem;
    border-left: none;
    border-right: none;
    border-top: none;
  }
}
