@import "./helpers/variables";
@import "./helpers/mixins";

.userWeather {
  grid-area: 5 / 2 / 11 / 10;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: repeat(5, 1fr);
  color: $font-main;

  .nameBar {
    grid-area: 1/ 1 / 2 / -1;
    max-height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: $bg-main;
  }
  @include box($bg-main);
}
